.work .info-section {
    width: 20%; }

.work .content-area {
    margin-left: 30%;
    width: 70%;
    min-width: 300px;
    background: white;
    color: black;
    height: 100%;
    overflow: hidden; }
    .work .content-area .work-section {
        margin-bottom: 56px; }
        .work .content-area .work-section h1 {
            font-weight: 700;
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 56px; }
        .work .content-area .work-section .project-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 156%; }
            .work .content-area .work-section .project-section .project-box {
                position: relative;
                padding: 30px;
                transition: all .5s ease-in-out;
                cursor: pointer;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                height: 400px; }
                .work .content-area .work-section .project-section .project-box:hover {
                    -webkit-box-shadow: 0px 20px 71px 6px rgba(0, 0, 0, 0.12);
                    -moz-box-shadow: 0px 20px 71px 6px rgba(0, 0, 0, 0.12);
                    box-shadow: 0px 20px 71px 6px rgba(0, 0, 0, 0.12); }
                .work .content-area .work-section .project-section .project-box .grey-bg {
                    background: lightgrey;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    overflow: hidden; }
                    .work .content-area .work-section .project-section .project-box .grey-bg:hover {
                        opacity: 0.9; }
                        .work .content-area .work-section .project-section .project-box .grey-bg:hover .project-info .project-details {
                            transform: translate3d(0, 0, 0);
                            opacity: 1; }
                        .work .content-area .work-section .project-section .project-box .grey-bg:hover .project-info .project-title {
                            transform: translate3d(0, 0, 0);
                            opacity: 1; }
                    .work .content-area .work-section .project-section .project-box .grey-bg .project-info {
                        padding: 56px;
                        position: absolute;
                        bottom: 0;
                        width: 100%; }
                        .work .content-area .work-section .project-section .project-box .grey-bg .project-info .project-details {
                            position: relative;
                            font-size: 1.1rem;
                            text-transform: capitalize;
                            margin: 0 0 1rem;
                            transform: translate3d(-200px, 0, 0);
                            transition: all 0.3s ease-in;
                            overflow: hidden;
                            opacity: 0; }
                        .work .content-area .work-section .project-section .project-box .grey-bg .project-info .project-title {
                            font-size: 1.8rem;
                            text-transform: uppercase;
                            font-weight: 700;
                            transition: all 0.3s ease-in-out 0.1s;
                            transform: translate3d(-100px, 0, 0);
                            opacity: 0; }
                        .work .content-area .work-section .project-section .project-box .grey-bg .project-info .fa-long-arrow-right {
                            position: absolute;
                            bottom: 56px;
                            right: 56px;
                            font-size: 3rem; }
                .work .content-area .work-section .project-section .project-box h5 {
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin-bottom: 1.4rem; }
                .work .content-area .work-section .project-section .project-box p {
                    font-weight: 500;
                    font-size: 1rem;
                    margin-bottom: 1rem; }

@media (min-width: 0px) and (max-width: 767px) {
    .work .menu-icon {
        top: -3px;
        right: 20px;
        color: white; }
        .work .menu-icon .fa {
            color: white; }
    .work .content-area {
        height: auto; }
        .work .content-area:after {
            content: "0";
            display: table;
            clear: both; }
    .work .info-section {
        padding: 10px 20px;
        position: static; }
        .work .info-section .logo {
            height: 50px;
            width: 70px;
            font-size: 1rem; }
        .work .info-section .info-box {
            display: none; }
    .work .content-area {
        margin-left: 0;
        width: 100%; }
        .work .content-area:after {
            content: "";
            display: table;
            clear: both; }
        .work .content-area .img-container {
            width: 100%;
            padding: 56px 20px 0;
            height: auto; }
            .work .content-area .img-container .form-section {
                position: static;
                width: 100%;
                height: auto;
                overflow: auto; }
        .work .content-area .work-section {
            width: 100%;
            float: left;
            padding: 20% 20px 0; } }

@media (min-width: 768px) and (max-width: 991px) {
    .work .info-section .icon-section a {
        font-size: 1.4rem; }
    .work .content-area {
        height: auto; }
        .work .content-area:after {
            content: "";
            display: table;
            clear: both; }
        .work .content-area .img-container {
            width: 100%;
            padding: 56px 20px 0;
            height: auto; }
            .work .content-area .img-container .form-section {
                position: static;
                width: 100%;
                height: auto;
                overflow: auto; }
        .work .content-area .profile .primary-btn, .work .content-area .profile .ghost-btn {
            margin-bottom: 20px; }
        .work .content-area .work-section {
            width: 70%;
            float: left;
            padding: 20% 20px 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
    .work .content-area {
        height: auto; }
        .work .content-area:after {
            content: "";
            display: table;
            clear: both; }
        .work .content-area .img-container {
            padding: 56px 20px 0;
            float: left;
            height: auto;
            width: 100%; }
            .work .content-area .img-container .form-section {
                position: static;
                width: 100%;
                float: left;
                height: auto;
                overflow: auto; }
        .work .content-area .work-section {
            width: 70%;
            float: left;
            padding: 20% 20px 0;
            max-width: 800px; } }

@media (min-width: 1200px) {
    .work .content-area .img-container {
        padding: 56px 20px 0;
        float: left; }
        .work .content-area .img-container .form-section {
            left: -157px;
            width: 400; }
    .work .content-area .work-section {
        width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 800px; } }

@media (min-width: 1500px) {
    .work .content-area .img-container {
        padding: 56px 20px 0;
        float: left; }
        .work .content-area .img-container .form-section {
            left: -250px;
            width: 500; }
    .work .content-area .work-section {
        width: 70%;
        float: left;
        padding: 20% 60px 0;
        max-width: 800px; } }
