*{
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  background: $color1;
  color: $color2;
  font-family: 'Barlow', sans-serif;
  height: 100%;
}

.menu-icon{
  position: fixed;
  right: 36px;
  top: 36px;
  padding: 20px;
  z-index: 11;

  .fa{
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }
  .fa:hover{
    color: gray;
  }
}

.primary-btn{
  background: lightgrey;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: $color1;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: 15px;
  text-decoration: none;
  transition: $btnTransition;

  &:hover{
    background: $hoverColor;
  }
}

.ghost-btn{
  border: 4px solid $color1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: lightgrey;
  padding: 15px 27px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: $btnTransition;
  color: grey;

  &:hover{
    cursor: pointer;
    border-color: $hoverColor;
    background: lightgrey;
    color: black;
  }
}


 .ghost-btn, .primary-btn{
   margin-bottom: 20px;
   margin-bottom: 20px;
}


 #menu{
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: $btnTransition;
    background-size: 1371px 657px;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;


    nav{
      width: 400px;
      text-align: center;

      a{
        font-size: 2.3rem;
        padding: 1rem;
        display: block;
        text-decoration: none;
        color: $color2;

        &:hover{
          color: lightgrey;
        }
      }
    }
  }

.menu-active{
  .menu-icon{
    .fa{
      color: $hoverColor;
    }
  }
  #menu{
    width: 100%;
    top: 0;
    bottom: 0;
    transform: translate3d(0,0,0);

  }
}

.scroll-section{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 56px;
}

.open-btn{
  font-size: 30px;
  cursor: pointer;
}

.close-btn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 53px;
  margin-left: 50px;
}
